
<div class='about-box'>
	<div class='about-box__item about-box__tag'>
		<h4>Interested in work with:</h4>
		<ul>
			<li> Data Visualization </li>
			<li> Reactjs </li>
			<li> D3js </li>
			<li> Maps </li>
			<li> Test </li>
			<li> UX </li>
			<li> Internet Security </li>
		</ul>
	</div>
	<div class='about-box__item about-box__passion'>
		<h4>I enjoy:</h4>
		<ul>
			<li><i class="fa fa-globe"></i> <p> Environment &#38; Animals </p></li>
			<li><i class="fa fa-space-shuttle"></i><p> Travel </p></li>
			<li><i class="fa fa-slideshare"></i> <p>Share Cultures </p></li>
			<li><i class="fa fa-heartbeat"></i><p> Meditation &#38; Martial Arts </p></li>
		</ul>
	</div>
	<div class='about-box__item about-box__carachter'>
		<h4>What other say of me: </h4>
		<ul>
			<li><i class="fa fa-thumbs-up"></i> Reliable </li>
			<li><i class="fa fa-thumbs-up"></i> Determinated </li>
			<li><i class="fa fa-thumbs-up"></i> Passionate </li>
			<li><i class="fa fa-thumbs-up"></i> Sunny </li>
		</ul>
	</div>
</div>
