
<div class='header-box'>
	
	<div class='header-box__item header-box__smallIntro'>
		<p class='push-l'>
			I'm a unconventional and peculiar mix of developer and designer. 
			My design prospective and programmer logic-mind are winning mix to create great,
			well structured and easy-to-use interface. <br/><br/>
			I enjoy to use all my skills to visualize data in clear and creative way.
		
		</p>
		<span>}</span>
	</div>
	
	<div class='header-box__item header-box__title'> 
		<div class="logo">
			<h1> Giorgia Sambrotta </h1> 
			<p>Frontend Developer &#38; Designer </p>
		</div>
	</div>
	
	<div class='header-box__item header-box__contacts'>
		<div class="address">
			<p> Giorgia Sambrotta <p/>
			<p> Berlin, Germany <p/>
			<br />
			<p> 0049 152 08141291 <p/>
		</div>
		<div class='socials'>
			<a href='https://github.com/gsambrotta' target='_blank'><i class="fa fa-github" aria-hidden="true"></i></a>
			<a href='https://www.linkedin.com/in/designbygio' target='_blank'><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			<a href='http://designbygio.it/' target='_blank'> <i class='text-icon' title='personal portfolio'>ME!</i> </a>
		</div>


	</div>
</div>
