
<div class="intro-box">
	<section class="intro-box__halfHalf">
		<div class='intro-box__tooltip intro-box__tooltip--developer'>
			<h4>50% Developer</h4>
			<p> My biggest passion is Frontend Development, i focus on creating great interface with stable architecture. <br />
			I enjoy learn new technique and experiment them. <br />
			I care a lot about code best practice and modular code.
			Since 5 years i teach programming to my self and i enjoy it everyday.
			</p>
		</div>

		<div class='brain-img'>
			<img src='image/theBrain.png'/>
		</div>

		<div class='intro-box__tooltip intro-box__tooltip--designer'>
			<h4>50% Designer</h4>
			<p> With a background in design, my mind is always careful in realizing products pleasant for the eyes and with great usability.
			Even the most innovative and sofisticated software doesn't work without a great UX.
			In my carrier i have been involved in different UX projects and
			even while developing, i always keep user needs in mind. 
			</p>
		</div>
	</section>

	<section class="intro-box__numbers">
		<ul class="list--inline list--dotted">
			<li class="tooltip expand one" data-title="Sine 2011 i work in the frontend field. I worked as employee and as freelance, with big established companies or young startups. All experiences taught me something important and very valuable which i bring with me in my next adventure. "> 5 Years Experience </li>
			<li class="tooltip expand two" data-title="Italian is my mother language, then i speak fluent english and intermediate german. I'm now determinated to learn spanish and dreaming to learn esotic languages like arabic or mandarin!"> 3 Languages </li>
			<li class="tooltip expand three" data-title="During my carrier i had the canche to work with companies and people from all over the world. Mostly i collaborate with US and Berliner startups, italian clients, swiss and Uk based companies"> 5 Countries </li>
		</ul>
	</section>
</div>
