<div class="work-box">

	<div class="work-box__item work-box__skills">

		<h4> My Skills </h4>
		<div id="barChart"></div>

		<div class="work-box__education">
			<h4>Education</h4>
			<i class="fa fa-graduation-cap push-l"></i> 
			<p> 
				10/2007 - 02/2011 <br />
				N.A.B.A. - Nuova accademia di belle arti Milano <br />
				graphic, social communication and Advertisement, graphic <br />design and art direction
			</p>
		</div>

	</div>
	
	<div class="work-box__item work-box__timeline">
		<h4> My Work Experience </h4>
		<div id="line"></div>
		<div id="bubbleChart"></div>
	</div>

</div>
