
.push-l {
	float: left;
}

.push-r {
	float: right;
}

.clear {
	clear: both;
}

.list--inline li {
	display: block;
	@include breakpoint(smallTablet) {
   display: inline;
  }
}

.list--dotted {
	border-top: 3px dotted;
  width: 90%;
  margin: 0 auto;
  padding-top: 15px;
	
	li {
    border-right: 0px dotted;
    padding: 10px 8%;
    @include breakpoint(smallTablet) {
	   border-right: 2px dotted;
	   padding: 0 2%;
	  }
	  @include breakpoint(tablet) {
	   padding: 0 4%;
	  }
	  @include breakpoint(screen) {
	   padding: 0 7%;
	  }

    &:last-child {
    	border-right: 0px;
    }
	}
}
