.box-title {
	background: $black;
	padding: 25px 30px;
	color: $white;
	text-align: center;

	h1 {
		margin-bottom: 1em;
	}

	h2 {
		margin-bottom: 10px;
	}

	.box-title__autotype {
		text-align: center;
		width: 160px;
		display: inline-block;
	}
}
