// Background
@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient($direction, $color-stops);
  background: linear-gradient($direction, $color-stops);
}


// Border
@mixin border-gradient($direction, $color-stops...) {
	border: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient($direction, $color-stops);
  -webkit-border-image: -webkit-linear-gradient($direction, $color-stops);
  border-image: linear-gradient($direction, $color-stops);
  border-image-slice: 1;
}

// Text
@mixin txt-gradient($direction, $color-stops...) {
  background: -webkit-linear-gradient($direction, $color-stops);
  background: linear-gradient($direction, $color-stops);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
