// Groups Style
//---------------------------------------------

#intro-section {
  z-index: 3; // slide under groups 1 and 3
  .parallax__layer--back {
    background: $white;
    background-image: url('/images/bkgs/omino-prova.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

#about-section {
  z-index: 5; // slide over group 2
  .parallax__layer--base {
    background: $dark-violet;
  }
}

#projects-section {
  z-index: 4; // slide over group 2 and 4
  .parallax__layer--base {
    background: $main-color;
    margin-bottom: -15em;
  }
}

#cta-section {
  z-index: 2; // slide under group 3 and 5
  height: 90vh;
  .parallax__layer--base {
    background: $sun;
  }
}

#contact-section {
  height: 95vh;
  z-index: 3; // slide over group 4 and 6
  .parallax__layer--base {
    background: $dark-violet;
  }
}
