
/* General Rules */
* {
  margin: 0;
  padding: 0;
}

body, html {
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Georgia;
  font-size: 14px;
  font-style: italic;
  letter-spacing: -1px;
  color: $black;

	width: 100%;
  background: $white;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.1rem;
  margin-bottom: 3rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

p {
  width: 75%;
  margin: 0 auto;
  line-height: 2.2rem;
  font-size: 1.6rem;
}

a {
  color: $black;

  &:hover{
    opacity: 0.8;
  }
}

img,
a,
a:hover,
a:focus,
a:active{
	border:none;
  cursor: pointer;
}

ul {
  list-style: none;
}

nav ul {
  margin-top: 12px;
}


#about-section h3 {
  margin-top: 15rem;
}
