.section-title {
	color: $white;
	text-align: center;
	margin: 72px 0 95px;
	font-size: 4.8rem;
	font-style: normal;

	&::before,
	&::after {
		content: "";
		width: 42px;
		height: 1px;
		border-top: 5px solid $water-green;
		display: block;
    position: relative;
    transform: rotate(-55deg);
	}

	&::before {
    top: -12px;
    left: 51%;
	}

	&::after {
    top: 14px;
    left: 45%;
	}

	&--light-bg {
		color: $white;

		&::before,
		&::after {
			border-top: 5px solid $sun;
		}
	}
}


// BUTTONS
.btn {
	text-decoration: none;
	display: inline-block;
	padding: 11px 14px;
	border: 2px solid;
	min-width: 200px;
	text-transform: uppercase;
  font-style: normal;

	&:hover {
		border-color: transparent;
	}

	&--resume {
		margin-top: 4em;
		border-color: $water-green;
		background: $dark-violet;
		color: $white;

		&:hover {
			background: $white;
			color: $dark-violet;
			opacity: 1;
    	font-weight: bold;
		}
	}
}
