
// Colors
$white: #fff;
$black: #333;
$grey: #798f9a;
$light-grey: #eee;
$perl: #f3f1ed;

// Palette
$main-color: #17aedf;
$dark-violet: #726680;
$water-green: #0FBAB7;
$sun: #FFCC54;

// Gradients
$blue: #02a8d4;
$green: #2ecc71;
$yellow: #f6d149;
$red: #fc5b5b;

$main-darker: darken($main-color, 20%);

// Color palette for classes
$colors : (
	white: #fff,
	black: #444,
	grey: #798f9a,
	light-grey: #eee,
	main-color: #17aedf,
	dark-violet: #726680,
	water-green: #0FBAB7,
	sun: #FFCC54,
	blue: #02a8d4,
	green: #2ecc71,
	yellow: #f6d149,
	red: #fc5b5b
)


