
// Colors
$white: #fff;
$black: #444;
$grey: #798f9a;
$light-grey: #eee;

// gradients
$blue: #02a8d4;
$green: #2ecc71;
$yellow: #f6d149;
$red: #fc5b5b;

$main-color: #17aedf;
// $second-color: ;

$prugna: #726680;


// TODO: Create palette colors and classes mixin
