// My passion and carather

.about-section {
	border-top: 3px dotted;
	height: 500px;
	color: #fff;
	margin: 0 40px;

	.about-box {
		display: flex;
		width: 90%;
		margin: 0 auto;
		
		.about-box__item {
			padding: 0 20px;
			width: 30%;
			font-weight: 100;
			margin: 0 auto;
    	padding-top: 10px;

    	h4 {
    		border-bottom: 1px solid;
    	}
		}

		.about-box__tag {
			ul {
				display: flex;
				flex-wrap: wrap;
				padding-top: 20px;
				perspective: 1000;

				li {
					background: darken($blue, 30%);
			    color: #fff;
			    border-radius: 2px;
			    line-height: 16px;
			    padding: 5px 17px;
			    margin: 6px;
			    font-size: 1.2rem;
			    text-transform: uppercase;
			    font-family: sans-serif;
			    font-weight: 600;

			    transition: .6s;
			    transform-style: preserve-3d;

			    &:hover {
		    		transform: rotateY(180deg);
		    	}
				}
			}
		}

		.about-box__passion,
		.about-box__carachter {
			ul {
				padding-left: 15px;
				padding-top: 20px;

				li {
					padding: 10px 0;
					font-size: 1.5rem;

					i {
						display: inline-block;
						padding-right: 10px;
						font-size: 1rem;
						transition: all .5s ease-in-out;

						&:hover {
							transform: translate(25px,0);
						}
					}
				}
			}
		}

		.about-box__passion {
			li {
				font-size: 1rem !important;

				i {
					font-size: 2rem !important;
					display: block;
    			margin-bottom: 10px;

					@include breakpoint(screen) {
				    font-size: 4rem !important;
				    display: inline;
    				margin-bottom: 0px;
				  }
				}

				p {
					display: inline-block;
			    top: -5px;
			    position: relative;
			    font-size: 1.2rem !important;

			    @include breakpoint(screen) {
			    	top: -9px;
				    font-size: 1.4rem !important;
				  }
				}
			}
		}
	}
}
