
#xaxis text, 
#yaxis text {
	font-size: 1.2rem;
	text-transform: uppercase;
}

#yaxis .domain {
	stroke: transparent;
	display: none;
}

#xaxis text, 
#yaxis text,
#bars text {
	fill: #fff;
	font-style: italic;
	font-family: sans-serif;
}
