// Skills and work experience

.work-section {
  height: 2200px;
  
  @include breakpoint(tablet) {
    height: 1300px;
  }

  .work-box {
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;

    h4 {
      color: white;
    }
  }

  .work-box__skills {
    h4 {
      text-align: center;

      @include breakpoint(tablet) {
        text-align: left;
      }
    }

    #barChart {
      padding-top: 40px;

      @include breakpoint(tablet) {
        margin-left: -81px;
      }
    }

    .work-box__education {
      color: #fff;
      border-top: 3px dotted;
      max-width: 600px;

      h4 {
        border-bottom: 1px solid;
        margin-bottom: 25px;
      }

      i {
        font-size: 5rem;
      }

      p {
        padding-left: 15px;
        display: inline-block;
      }
    }
  }

  .work-box__timeline {

    h4 {
      text-align: center;
    }

    #line {
      width: 2px;
      height: 500px;
      position: absolute;
      background: #E88E09;
      right: 182px;
      top: 104px;
      z-index: -1;
      display: none;
    }
  }
}

.work-box__skills {
    margin: 0 auto;
    width: 40%;

    @include breakpoint(tablet) {
      margin: 0;
      width: 52%;
      float: left;
    }

}

.work-box__timeline {
    position: relative;
    margin: 0 auto;
    width: 54%;
    margin-top: 100px;

    @include breakpoint(tablet) {
      position: relative;
      margin: 0;
      width: 26%;
      display: inline-block;
    }
}
