  <div class="header__logo">
    <a href="index.html"><img class="header__logo-img" src="images/logo.png" alt="logo designbygio" title="designbygio.it" /></a>
  </div>
  <nav>
    <ul class="u-list--inline u-align-r">
      <li>
        <a href="https://twitter.com/#!/designbygio" target="_blank" class="u-twelve-point-star">
          <i class="ion-logo-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/gsambrotta" target="_blank" class="u-twelve-point-star">
          <i class="ion-logo-github"></i>
        </a>
      </li>
      <li>
        <a href="http://de.linkedin.com/pub/giorgia-sambrotta/27/235/616" target="_blank" class="u-twelve-point-star">
          <i class="ion-logo-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="#" target="_blank" class="u-twelve-point-star">
          <i class="ion-logo-rss"></i>
        </a>
      </li>
    </ul>
  </nav>
