<!DOCTYPE html>
<html lang="en">
  <head>
  {{> head }}
  </head>

  <body>

    <header>
      {{> header}}
    </header>

    <div class="parallax">

      <div id="intro-section" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">
          <div class="box-title u-centered-axis-xy">
            <h1> I'm a <p id="autoType"></p> Frontend Developer &#38; Designer </h1>
          </div>
        </div>
        <div class="parallax__layer parallax__layer--back"></div>
      </div>

       <div id="about-section" class="parallax__group">
        <div class="parallax__layer parallax__layer--base u-align-center font-white--text">
          <h2 class="section-title">ABOUT</h2>
          <h3>About Powerhouse Fitness</h3>

          <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p>

          <p>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>

          <a href="/my_resume" class="btn btn--resume"> check my online-cv </a>
        </div>
      </div>

      <div id="projects-section" class="parallax__group">
        <div class="parallax__layer parallax__layer--fore">
          <div id="viewProjects"></div>
        </div>
        <div class="parallax__layer parallax__layer--base">
          <h2 class="section-title section-title--light-bg">PROJECTS</h2>
        </div>
      </div>

      <div id="cta-section" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">
          <div class="title">Base Layer</div>
        </div>
      </div>

      <div id="contact-section" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">
          <h2 class="section-title">LET'S STAY CONNECTED</h2>
          <p>You can contact me at <a href="mailto:g.sambrotta@gmail.com">g[.]sambrotta[at]gmail[.]com</a></p>
          <p>Or you can follow me on twitter <a href="https://twitter.com/designbygio"> <em>@designbygio</em> </a></p>
          <p>Or you can leave a comment on my blog <a href="#"> mid size dev</a></p>
          <div class="u-subtitle-decoration">
            <hr><p class="u-subtitle-decoration__title">Want to see more code?</p><hr>
            <p>Check out <a href="#">my gits</a> </p>
            <p>or <a href="#">my codepen</a></p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
