<!DOCTYPE html>
<html lang="en">
  <head>
  {{> head }}
  </head>

  <body>

    <header>
      {{> header}}
    </header>

    <div class="parallax">

      <div id="intro-section" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">
          <div class="box-title u-centered-axis-xy">
            <h1> I'm a <p id="autoType"></p> Frontend Developer &#38; Designer </h1>
          </div>
        </div>
        <div class="parallax__layer parallax__layer--back"></div>
      </div>

       <div id="about-section" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">
          <h2>About Powerhouse Fitness</h2>

          <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p>

          <p>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>
        </div>
      </div>

      <div id="projects-section" class="parallax__group">
        <div class="parallax__layer parallax__layer--fore">
          <div class="title">Foreground Layer</div>
            <div id="viewProjects"></div>
        </div>
        <div class="parallax__layer parallax__layer--base">
          <div class="title">Base Layer</div>
        </div>
      </div>

      <div id="cta-section" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">
          <div class="title">Base Layer</div>
        </div>
        <div class="parallax__layer parallax__layer--back">
          <div class="title">Background Layer</div>
        </div>
        <div class="parallax__layer parallax__layer--deep">
          <div class="title">Deep Background Layer</div>
        </div>
      </div>

      <div id="contact-section" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">
          <div class="title">Base Layer</div>
        </div>
      </div>
    </div>

  </body>
</html>
